In [103]:
import numpy as np
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [104]:
# 参数设置
theta_deg = 120  # 开角（度）
alpha_deg = 1.5  # 坡度（度）
# beta_deg = 0  # 侧向角（度）
beta_list = np.arange(0, 360, 45)  # 侧向角（度），从0到360度，每45度一个值
D0 = 120  # 中心深度（米）
d = 0.3  # 测线间距（海里）
d_range_ = np.arange(0, 2.2, d)  # 沿测线距离（海里）
d_range = d_range_ * 1852  # 1 海里 = 1852 米
print(
    f"参数设置:\n开角 θ: {theta_deg}°\n"
    f"坡度 α: {alpha_deg}°\n"
    f"侧向角 β: {beta_list}°\n"
    f"中心深度 D0: {D0} 米\n"
    f"测线间距 d: {d} 海里\n"
    f"沿测线距离范围: {d_range} 米"
)

参数设置:
开角 θ: 120°
坡度 α: 1.5°
侧向角 β: [  0  45  90 135 180 225 270 315]°
中心深度 D0: 120 米
测线间距 d: 0.3 海里
沿测线距离范围: [   0.   555.6 1111.2 1666.8 2222.4 2778.  3333.6 3889.2] 米

In [105]:
# 转换为弧度
theta = np.radians(theta_deg)
beta_list = np.radians(beta_list)  # 侧向角（弧度）
# beta = np.radians(beta_deg)
alpha = np.radians(alpha_deg)

In [106]:
results = []

for beta in beta_list:
    # 坡度在当前方向的有效分量
    alpha_ = np.arcsin(np.sin(alpha) * np.cos(beta))
    print(f"\n计算侧向角 β = {np.degrees(beta)}° 时的坡度 α' = {np.degrees(alpha_)}°")
    D = D0 + d_range * np.tan(alpha_)
    print(f"计算得到的深度 D:\n{D}")
    W_left = D * np.sin(theta / 2) / np.cos(theta / 2 + alpha_)
    W_right = D * np.sin(theta / 2) / np.cos(theta / 2 - alpha_)
    W_total = W_left + W_right
    # print(f"计算得到的覆盖宽度 W:\n{W_total}")
    
    df_beta = pd.DataFrame({
        'beta': np.degrees(beta).astype(int),  # 将弧度转换为整数度数
        'd_range': d_range_,
		'D': D,
		# 'W_left': W_left,
		# 'W_right': W_right,
		'W_total': W_total,
	})
    print(df_beta)
    results.append(df_beta)

计算侧向角 β = 0.0° 时的坡度 α' = 1.5000000000000002°
计算得到的深度 D:
[120.         134.54889802 149.09779605 163.64669407 178.1955921
 192.74449012 207.29338814 221.84228617]
   beta  d_range           D     W_total
0     0      0.0  120.000000  416.691870
1     0      0.3  134.548898  467.211933
2     0      0.6  149.097796  517.731995
3     0      0.9  163.646694  568.252058
4     0      1.2  178.195592  618.772121
5     0      1.5  192.744490  669.292183
6     0      1.8  207.293388  719.812246
7     0      2.1  221.842286  770.332309

计算侧向角 β = 45.0° 时的坡度 α' = 1.0605995840948033°
计算得到的深度 D:
[120.         130.28586134 140.57172268 150.85758403 161.14344537
 171.42930671 181.71516805 192.0010294 ]
   beta  d_range           D     W_total
0    45      0.0  120.000000  416.191352
1    45      0.3  130.285861  451.865407
2    45      0.6  140.571723  487.539461
3    45      0.9  150.857584  523.213516
4    45      1.2  161.143445  558.887570
5    45      1.5  171.429307  594.561624
6    45      1.8  181.715168  630.235679
7    45      2.1  192.001029  665.909733

计算侧向角 β = 90.0° 时的坡度 α' = 9.183801829956017e-17°
计算得到的深度 D:
[120. 120. 120. 120. 120. 120. 120. 120.]
   beta  d_range      D     W_total
0    90      0.0  120.0  415.692194
1    90      0.3  120.0  415.692194
2    90      0.6  120.0  415.692194
3    90      0.9  120.0  415.692194
4    90      1.2  120.0  415.692194
5    90      1.5  120.0  415.692194
6    90      1.8  120.0  415.692194
7    90      2.1  120.0  415.692194

计算侧向角 β = 135.0° 时的坡度 α' = -1.060599584094803°
计算得到的深度 D:
[120.         109.71413866  99.42827732  89.14241597  78.85655463
  68.57069329  58.28483195  47.9989706 ]
   beta  d_range           D     W_total
0   135      0.0  120.000000  416.191352
1   135      0.3  109.714139  380.517298
2   135      0.6   99.428277  344.843243
3   135      0.9   89.142416  309.169189
4   135      1.2   78.856555  273.495134
5   135      1.5   68.570693  237.821080
6   135      1.8   58.284832  202.147025
7   135      2.1   47.998971  166.472971

计算侧向角 β = 180.0° 时的坡度 α' = -1.5000000000000002°
计算得到的深度 D:
[120.         105.45110198  90.90220395  76.35330593  61.8044079
  47.25550988  32.70661186  18.15771383]
   beta  d_range           D     W_total
0   180      0.0  120.000000  416.691870
1   180      0.3  105.451102  366.171807
2   180      0.6   90.902204  315.651745
3   180      0.9   76.353306  265.131682
4   180      1.2   61.804408  214.611619
5   180      1.5   47.255510  164.091556
6   180      1.8   32.706612  113.571494
7   180      2.1   18.157714   63.051431

计算侧向角 β = 225.0° 时的坡度 α' = -1.0605995840948033°
计算得到的深度 D:
[120.         109.71413866  99.42827732  89.14241597  78.85655463
  68.57069329  58.28483195  47.9989706 ]
   beta  d_range           D     W_total
0   225      0.0  120.000000  416.191352
1   225      0.3  109.714139  380.517298
2   225      0.6   99.428277  344.843243
3   225      0.9   89.142416  309.169189
4   225      1.2   78.856555  273.495134
5   225      1.5   68.570693  237.821080
6   225      1.8   58.284832  202.147025
7   225      2.1   47.998971  166.472971

计算侧向角 β = 270.0° 时的坡度 α' = -2.755140548986805e-16°
计算得到的深度 D:
[120. 120. 120. 120. 120. 120. 120. 120.]
   beta  d_range      D     W_total
0   270      0.0  120.0  415.692194
1   270      0.3  120.0  415.692194
2   270      0.6  120.0  415.692194
3   270      0.9  120.0  415.692194
4   270      1.2  120.0  415.692194
5   270      1.5  120.0  415.692194
6   270      1.8  120.0  415.692194
7   270      2.1  120.0  415.692194

计算侧向角 β = 315.0° 时的坡度 α' = 1.0605995840948028°
计算得到的深度 D:
[120.         130.28586134 140.57172268 150.85758403 161.14344537
 171.42930671 181.71516805 192.0010294 ]
   beta  d_range           D     W_total
0   315      0.0  120.000000  416.191352
1   315      0.3  130.285861  451.865407
2   315      0.6  140.571723  487.539461
3   315      0.9  150.857584  523.213516
4   315      1.2  161.143445  558.887570
5   315      1.5  171.429307  594.561624
6   315      1.8  181.715168  630.235679
7   315      2.1  192.001029  665.909733

In [107]:
df_all = pd.concat(results, ignore_index=True)
# 保证 d_range 是 float
df_all['d_range'] = df_all['d_range'].astype(float)
# 保留一位小数（注意：建议用 round 再用 astype 保证不会有浮点数精度误差导致的 0.30000000004 这类情况）
df_all['d_range'] = df_all['d_range'].round(1)
df_all

    beta  d_range           D     W_total
0      0      0.0  120.000000  416.691870
1      0      0.3  134.548898  467.211933
2      0      0.6  149.097796  517.731995
3      0      0.9  163.646694  568.252058
4      0      1.2  178.195592  618.772121
..   ...      ...         ...         ...
59   315      0.9  150.857584  523.213516
60   315      1.2  161.143445  558.887570
61   315      1.5  171.429307  594.561624
62   315      1.8  181.715168  630.235679
63   315      2.1  192.001029  665.909733

[64 rows x 4 columns]

In [108]:
df_pivot = df_all.pivot(index='beta', columns='d_range', values='W_total')
df_pivot.columns = [f"{c:.1f}" for c in df_pivot.columns]
df_pivot.columns.name = "d_range (海里)"
df_pivot.index.name = "测线方向夹角 β/°"
df_pivot.style.format("{:.2f}")

In [109]:
# # 计算重叠率
# # 对于每对相邻测线（x_i, x_{i+1}），第1条的右宽度+第2条的左宽度
# W1r = W_right[:-1]    # 第i条右宽度
# W2l = W_left[1:]      # 第i+1条左宽度
# overlap = 1 - d / ((W1r + W2l) * np.cos(alpha))  # 重叠率

# print(f"计算得到的重叠率:\n{overlap}")